@mixin position (
  $pos: null,
  $top: null,
  $right: null,
  $left: null,
  $bottom: null,
  $z: null) {
  position: $pos;
  top: $top;
  right: $right;
  left: $left;
  bottom: $bottom;
  z-index: $z;
}

@mixin flex (
  $dis: flex,
  $dir: null,
  $wrap: null,
  $just: null,
  $align: null  ) {
  display: $dis;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  align-items: $align;
}

// Media queries
@mixin  mq($break) {
  $value: map-get($breakpoints, $break);
  $sm: map_get($breakpoints, "s");

  @if $value < $sm {
    @media (min-width: $value) {
      @content;
    }}
  @else  {
    @media (min-width: $value) {
      @content;}}
}