//Global Colors
$white: #FFFFFF;

$color-medium: #BFBFBF;
$color-light: #E1E1E1;
$color-text-normal: #262626;

$color-primary: #262626;
$color-secondary: #F2F2F2;

$color-links: #32ADCD;

//Borders
$border-normal: 1px $color-medium solid;

//Content Size
$profile-image-mobile: 40px;
$profile-image-tablet: 30px;
$profile-image-desktop: 30px;

//Fonts
$font-primary: 'Open Sans', sans-serif;
$font-weight-bold: 600;

//Media Query Sizes
$breakpoints: (
        's': 360px,
        "m": 768px,
        "l": 1024px,
        "xl": 1200px,
        "max": 1500px,
);