// hamburger is located in base/_hamburger
header {
  @include position($pos: relative);
  width: 100%;
  min-width: 360px;
  height: 7vh;
  background-color: $color-primary;
  color: $color-secondary;
    nav {
      width: 0;
      display: none;
    }
  @include mq("m") {
    height: 70px;
  }
}
.logo {
  @include position($pos: absolute, $right: 27%, $top: 30%, $z: 2);
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  @include mq("m") {
    right: 38%;
    font-size: 1.2rem;
  }
  @include mq("l") {
    font-size: 1.5rem;
  }
  @include mq("xl") {
    right: 42%;
    font-size: 1.2rem;
  }
  @include mq("max") {
    right: 45%;
    font-size: 1.3rem;
  }
}
// JS adds menu-expanded to nav when hamburger is clicked
.menu-expanded {
  @include position($pos: fixed, $left: 0, $z: 1);
  display: unset;
  width: 100%;
  height: 100%;
  background-color: $color-primary;
  overflow-y: hidden;
  touch-action: none;
  transition: 0.5s;
}