.search-container {
  @include flex($just:center);
  label {
    width: 100%;
    position: relative;
    margin: 0 0 20px 0;
  }
  #search {
    outline: none;
    border: unset;
    border-radius: 10px;
    width: 90%;
    height:35px;
    padding: 5px 15px 5px 15px;
    margin: 0 auto;
  }
  .search-icon-container {
    @include flex($just:center, $align: center);
    position: absolute;
    top: 5%;
    right: 0;
    width: 45px;
    height: 43px;
    background-color: $color-primary;
    color: $color-secondary;
    border-radius: 0 10px 10px 0;
  }
  .icon-search {
    fill: lighten($color-primary, 20);
    width: 20px;
    height: 20px;
  }
  @include mq("m") {
    width: 45%;
  }
  @include mq("xl") {
    #search {
      width: 95%;
    }
  }
}